/bootstrap_day1.html
/bootstrap_day2.html
/classic_black_tee.png
/cool_white_tshirt.avif
/day3.html
/day4.css
/day4.html
/day5-2.html
/day5.html
/day6.1.html
/day6.html
/day7.html
/day7_2.html
/ghibli art.jpeg
/glass painting.jpeg
/home.jpg
/home1.jpg
/img1.jpg
/img2.jpg
/img3.jpg
/img4.jpg
/img5.jpg
/img6.jpg
/img7.jpg
/index.html
/kpit img.jpg
/KPIT logo.jpg
/mandala art.jpeg
/mehandi  art.jpeg
/miniature sculpture art.jpeg
/mirror mosaic art.jpeg
/pencil sketch.jpeg
/printed_tshirt.png
/radha krishn painting.jpeg
/view.htm